
button, .submitbut{
    position:absolute;
    background-color:red;
    color:white;
    border-radius:20px;
    transition: all 0.5s;
}
.pedazobut {
    width:50%;
    height:20%;
    font-size:140%;
    
}

.submitbut {
  transition-duration: 0.4s;
}

.submitbut:hover {
  background-color: lightblue; /* Green */
  color: black;
}
