/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-ago-2020, 21:42:41
    Author     : MiPc
*/

.earth {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: lightgreen;
  border-style: solid;
  border-color: white;
}
.water {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: lightblue;
  border-style: solid;
  border-color: white;
}
.mineral {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: pink;
  border-style: solid;
  border-color: white;
}