
p {
	position:absolute;
}

.man1_pos0{
    position:absolute;
    top:0px;
    left:0px;
    width:50px;
    height:50px;
    background-image: url("../pictures/man1pos0.png");
    background-size: 30px;
    background-repeat: no-repeat;
}

.man2_pos0{
    position:absolute;
    top:0px;
    left:0px;
    width:50px;
    height:50px;
    background-image: url("../pictures/man2pos0.png");
    background-size: 30px;
    background-repeat: no-repeat;
}

.leg1 {
  position:absolute;
  top:40px;
  left:10px;
  height: 4px;
  width: 20px;
  background-color: saddlebrown;
  transform: rotate(-60deg);
  border-radius: 40%;
  display: inline-block;
}
.leg2 {
  position:absolute;
  top:40px;
  left:20px;
  height: 4px;
  width: 20px;
  background-color: saddlebrown;
  transform: rotate(60deg);
  border-radius: 40%;
  display: inline-block;
}
.arms {
  position:absolute;
  top:20px;
  left:5px;
  height: 5px;
  width: 40px;
  background-color: saddlebrown;
  border-radius: 40%;
  display: inline-block;
}
.head {
  position:absolute;
  top:0px;
  left:17px;
  height: 15px;
  width: 15px;
  background-color: saddlebrown;
  border-radius: 40%;
  display: inline-block;
}

.cara {
    width:10px;
    top:0px;
  left:4px;
    position:absolute;
    transform: rotate(90deg);
  color:white;
}
.body {
  position:absolute;
  top:10px;
  left:20px;
  height: 30px;
  width: 10px;
  background-color: gray;
  border-radius: 40%;
  display: inline-block;
}
.earth {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: lightgreen;
  border-style: solid;
  border-color: black;
}
.water {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: lightblue;
  border-style: solid;
  border-color: black;
}
.mineral {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: pink;
  border-style: solid;
  border-color: black;
}
